:root {
  --noble-black700: rgba(19, 22, 25, 1);
  --noble-black0: rgba(255, 255, 255, 1);
  --noble-black300: rgba(155, 156, 158, 1);
  --noble-black200: rgba(205, 206, 207, 1);
  --day-blue900: rgba(12, 17, 50, 1);
  --noble-black600: rgba(26, 29, 33, 1);
  --noble-black500: rgba(54, 58, 61, 1);
  --stem-green500: rgba(182, 240, 156, 1);
  --heading-XL-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-XL-regular-font-weight: 400;
  --heading-XL-regular-font-size: 36px;
  --heading-XL-regular-letter-spacing: 0px;
  --heading-XL-regular-line-height: 44px;
  --heading-XL-regular-font-style: normal;
  --body-XL-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --body-XL-medium-font-weight: 500;
  --body-XL-medium-font-size: 18px;
  --body-XL-medium-letter-spacing: 0.15000000596046448px;
  --body-XL-medium-line-height: 28px;
  --body-XL-medium-font-style: normal;
  --body-l-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --body-l-medium-font-weight: 500;
  --body-l-medium-font-size: 16px;
  --body-l-medium-letter-spacing: 0.15000000596046448px;
  --body-l-medium-line-height: 24px;
  --body-l-medium-font-style: normal;
  --body-l-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --body-l-semibold-font-weight: 600;
  --body-l-semibold-font-size: 16px;
  --body-l-semibold-letter-spacing: 0.15000000596046448px;
  --body-l-semibold-line-height: 24px;
  --body-l-semibold-font-style: normal;
  --shadow-small: 0px 1px 3px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px -1px
    rgba(0, 0, 0, 0.05);
}
